stepfunctions/ephemeral-db-import.yml
AWSTemplateFormatVersion: 2010-09-09
Transform: AWS::Serverless-2016-10-31

Resources:

        # - PolicyName: StateMachineSendState
        #   PolicyDocument:
        #     Version: 2012-10-17
        #     Statement:
        #       - Effect: Allow
        #         Action:
        #           - states:SendTaskSuccess
        #           - states:SendTaskFailure
        #         Resource: "*"


  lambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Action:
              - sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
      Policies:
        - PolicyName: XRAYAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - xray:PutTraceSegments
                  - xxray:PutTelemetryRecords
                Resource: "*"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole


  getDatePatternLambda:
    Type: AWS::Serverless::Function
    Properties:
      Role: !GetAtt lambdaRole.Arn
      Timeout: 120
      MemorySize: 128
      Runtime: python3.10
      Architectures:
        - x86_64
      Handler: app.lambda_handler
      CodeUri: lambdas/getDatePattern/

  datePatternLambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${getDatePatternLambda}
      RetentionInDays: 30

  auroraMysqlServerlessImportStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Definition:
        StartAt: CreateDBCluster
        States:

          # Create Aurora Serverless V2 MySQL Cluster
          CreateDBCluster:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:rds:createDBCluster
            Parameters:
              DbClusterIdentifier: aurora-serverless-ephemeral-import
              Engine: aurora-mysql
              EngineVersion: 8.0.mysql_aurora.3.04.1
              EngineMode: provisioned
              ServerlessV2ScalingConfiguration:
                MinCapacity: 0.5
                MaxCapacity: 16
              MasterUsername: masteruser
              MasterUserPassword: ephemeralroot # Can we specify the password securely?
              DbSubnetGroupName: madisonreed-development-rds-mysql # Change this to a subnet group created by this IaC
              VpcSecurityGroupIds:
                - sg-0e3b6e63ea5ef0eba # Change this to a SG created by this IaC
            
            # Create the Writer Instance next so we can have the DB URL endpoints active.
            Next: CreateDBInstance
            ResultPath: $.response.create_db

          CreateDBInstance:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:rds:createDBInstance
            Parameters:
              DbInstanceClass: db.serverless
              DbInstanceIdentifier: ephemeral-import-writer-instance
              DbClusterIdentifier: aurora-serverless-ephemeral-import
              Engine: aurora-mysql
            
            # Move to Choice loop to check if the Endpoint is available before doing anything else
            Next: DescribeDBClusterWriterInstance
            ResultPath: $.response.create_db_writer
          
          # Check if Writer instance is available
          DescribeDBClusterWriterInstance:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:rds:describeDBInstances
            Parameters:
              DbInstanceIdentifier: ephemeral-import-writer-instance
            Next: IsEndpointAvailable?
            ResultPath: $.response.describe_writer_instance
          
          IsEndpointAvailable?:
            Type: Choice
            Choices:
              - Variable: $.response.describe_writer_instance.DbInstances[0].DbInstanceStatus
                StringMatches: available
                Next: GetSnapshotDatePattern
            Default: WaitForDbEndpointCreation
          WaitForDbEndpointCreation:
            Type: Wait
            Seconds: 30
            Next: DescribeDBClusterWriterInstance
            Comment: Wait until db cluster endpoints are available

          # Call lambda function to get snapshot name date pattern suffix
          GetSnapshotDatePattern:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              Payload.$: $
              FunctionName: !Ref getDatePatternLambda
            Retry:
              - ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
                BackoffRate: 2
            Next: CreateDBSnapshot
            ResultPath: $.lambda_date_result

          CreateDBSnapshot:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:rds:createDBSnapshot
            Parameters:
              DbSnapshotIdentifier.$: States.Format('ephemeral-{}', $.lambda_date_result.Payload.datePattern)
              DbInstanceIdentifier: ephemeral-import-writer-instance
            Next: WaitForSnapshotCreation
            ResultPath: $.snapshotResult

          WaitForSnapshotCreation:
            Type: Wait
            Seconds: 30
            Next: CheckSnapshotStatus

          CheckSnapshotStatus:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:rds:describeDBSnapshots
            Parameters:
              DbSnapshotIdentifier.$: States.Format('ephemeral-{}', $.lambda_date_result.Payload.datePattern)
              DbInstanceIdentifier: ephemeral-import-writer-instance
            Next: IsSnapshotAvailable
            ResultPath: $.snapshotStatusResult

          # If snapshot is available, move to delete the cluster
          IsSnapshotAvailable:
            Type: Choice
            Choices:
              - Variable: $.snapshotStatusResult.DBSnapshots[0].Status
                StringEquals: available
                Next: DeleteWriterInstance
            Default: WaitForSnapshotCreation

          
          # Delete the writer instance so we can delete the cluster
          DeleteWriterInstance:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:rds:deleteDBInstance
            Parameters:
              DbInstanceIdentifier: ephemeral-import-writer-instance
            Next: DeleteDBCluster
            ResultPath: null # Discard the results from this step
          
          # Delete the Aurora Cluster and take a final snapshot beforehand
          DeleteDBCluster:
            Type: Task
            Resource: arn:aws:states:::aws-sdk:rds:deleteDBCluster
            Parameters:
              DbClusterIdentifier: aurora-serverless-ephemeral-import
              SkipFinalSnapshot: true

              # Using this gives the error: [The field "FinalDbSnapshotIdentifier" is not supported by Step Functions] ???
              # FinalDbSnapshotIdentifier.$: States.Format('ephemeral-{}', $.lambda_date_result.Payload.datePattern)
            Next: EndSuccess
          
          EndSuccess:
            Type: Succeed

      Role: !GetAtt stateMachineExecutionRole.Arn
      Events:
        CronSchedule:
          Type: Schedule
          Properties:
            Schedule: cron(0 8 1 1 ? *)
            Enabled: False


  stateMachineExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StateMachineExecutionPolicy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: "*"
              - Sid: RDSApiCalls
                Effect: Allow
                Action:
                  - rds:DescribeDBClusters
                  - rds:DescribeDBInstances
                  - rds:CreateDBCluster
                  - rds:CreateDBInstance
                  - rds:CreateDBSnapshot
                  - rds:CreateDBClusterSnapshot
                  - rds:DescribeDBSnapshots
                  - rds:DescribeDBSnapshotAttributes
                  - rds:DescribeDBClusterEndpoints
                Resource: "*"
              - Sid: DeleteRDSCluster
                Effect: Allow
                Action:
                  - rds:DeleteDBCluster
                  - rds:DeleteDBInstance
                Resource: "*" # Make this more fine grained



              # - Effect: Allow
              #   Action:
              #     - ecs:RunTask
              #     - ecs:DescribeTasks
              #     - ecs:DescribeTaskDefinition
              #   Resource: "*"
              #     - !GetAtt fargateCluster.Arn
              #     - !Ref taskDefinition
              # - Sid: PassEcsExecutionRole
              #   Effect: Allow
              #   Action:
              #     - iam:PassRole
              #   Resource: !GetAtt taskExecutionRole.Arn


# Use Step Functions to RunInstances
# use the instance ID from the output as input into the next step (ssm:startAutomationExecution.waitForTaskToken)
# https://github.com/aws-samples/amazon-stepfunctions-ssm-waitfortasktoken/tree/main <- Use this cloudformation to make the SSM document




# State.CreateDBCluster output:
# DbCluster.Endpoint   | "aurora-serverless-ephemeral-import.cluster-cizses2inrh6.us-east-1.rds.amazonaws.com"